<div class="center hero-unit">
  <h1>Grow up your life</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.jpeg", alt: "Rails"), root_path %>